@font-face {
  font-family: "Technology";
  src: url(fonts/Technology.ttf) format("truetype");
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #cc5f64;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  height: 550px;
  width: 350px;
  background-color: #152036;
  border: solid 2px black;
  border-radius: 10px;
}

.display {
  border: solid 2px #fff;
  border-radius: 6px;
  flex: 1;
  white-space: nowrap;
  padding: 0 8px;
  margin-bottom: 1em;
  position: relative;
  background-color: #7e8c74;
}

.value {
  display: flex;
  flex-direction: row-reverse;
  font-family: "Technology", sans-serif;
  font-size: 80px;
  color: #000;
  padding: inherit;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 330px;
  overflow: auto;
}

.copyright {
  margin-top: -1em;
  padding: 1em 1em;
  max-width: 140px;
}

.fa.fa-github {
  font-size: 28px;
  color: #fff;
}

a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  transition-duration: 0.2s;
}

a:hover {
  color: #db391c;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

button {
  font-family: Verdana, sans-serif;
  font-size: 30px;
  color: #fff;
  background-color: #3094bb;
  border: none;
  border-radius: 6px;
  margin: 1px;
  min-width: 75px;
  min-height: 75px;
  flex: 1;
  cursor: pointer;
  transition-duration: 0.1s;
}

.top {
  background-color: #3b4997;
}

.operator {
  background-color: #63983e;
}

.equal {
  background-color: #db391c;
}

button:hover {
  background-color: #36a4cf;
}

button:active {
  transform: scale(0.97);
}

.top:hover {
  background-color: #4c5dbe;
}

.top:active {
  transform: scale(0.97);
}

.operator:hover {
  background-color: #70aa46;
}

.operator:active {
  transform: scale(0.97);
}

.equal:hover {
  background-color: #f54021;
}

.equal:active {
  transform: scale(0.97);
}
